<h1><%= current_worker.email %>'s claimed jobs:</h1>
<div class="row">
  <ul class="collection with-header col s4">
    <h3 class="collection-header">Pending:</h3>
    <% current_worker.jobs.select { |job| job.in_progress == false && job.completed == false }.each do |job| %>
      <li class="collection-item" id='job<%= job.id.to_s %>'>
        <%= link_to job.title, job_path(job) %>
        <%= link_to "Mark as 'in progress'", job_update_path(job), method: 'patch', remote: true, class: 'right' %>
      </li>
    <% end %>
  </ul>

  <ul class="collection with-header col s4" id="jobs-in-progress">
    <h3 class="collection-header">In Progress:</h3>
    <% current_worker.jobs.select { |job| job.in_progress == true }.each do |job| %>
      <%= render(job) %>
    <% end %>
  </ul>

  <ul class="collection with-header col s4" id="jobs-completed">
    <h3 class="collection-header">Completed:</h3>
    <% current_worker.jobs.select { |job| job.completed == true }.each do |job| %>
      <%= render('jobs/completed_job', job: job) %>
    <% end %>
  </ul>
</div>
